<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/faq.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="maincontainer">
      <h1 class="herotext">Covid Pro</h1>
      <div class="title">
        <button class="back">
          <a href="/" style="color: white; text-decoration: none;"
            >Back to Main Page</a
          >
        </button>
        <h1>Frequently asked questions about Covid-19</h1>
      </div>
      <div class="divofques">
        <h2>Basics of Covid-19</h2>
        <!-- <p class="reveal">Click questions to reveal answers.</p> -->
        <div id="activate1" class="questiondiv">
          <h2 class="question">What is coronavirus like?</h2>
          <p class="answer1">
            A novel coronavirus is a new coronavirus that has not been
            previously identified. The virus causing coronavirus disease 2019
            (COVID-19), is not the same as the coronaviruses that commonly
            circulate among humans and cause mild illness, like the common cold.
          </p>
        </div>
        <div id="activate2" class="questiondiv">
          <h2 class="question">
            Why is the disease being called coronavirus?
          </h2>

          <p class="answer2">
            On February 11, 2020 the World Health Organization announced an
            official name for the disease that is causing the 2019 novel
            coronavirus outbreak, first identified in Wuhan China. The new name
            of this disease is coronavirus disease 2019, abbreviated as
            COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’
            and ‘D’ for disease. Formerly, this disease was referred to as “2019
            novel coronavirus” or “2019-nCoV”.
          </p>
        </div>
        <div id="activate3" class="questiondiv">
          <h2 class="question">
            How does the virus spread?
          </h2>

          <p class="answer3">
            The virus that causes COVID-19 is thought to spread mainly from
            person to person, mainly through respiratory droplets produced when
            an infected person coughs, sneezes, or talks. These droplets can
            land in the mouths or noses of people who are nearby or possibly be
            inhaled into the lungs. Spread is more likely when people are in
            close contact with one another (within about 6 feet).
          </p>
        </div>
        <div id="activate4" class="questiondiv">
          <h2 class="question">
            Will warm weather stop the outbreak?
          </h2>

          <p class="answer4">
            It is not yet known whether weather and temperature affect the
            spread of COVID-19. Some other viruses, like those that cause the
            common cold and flu, spread more during cold weather months but that
            does not mean it is impossible to become sick with these viruses
            during other months. There is much more to learn about the
            transmissibility, severity, and other features associated with
            COVID-19 and investigations are ongoing.
          </p>
        </div>
      </div>
      <div class="divofques2">
        <h2>How to stay safe</h2>

        <div id="activate5" class="questiondiv">
          <h2 class="question">
            Wash your hands
          </h2>

          <p class="answer5">
            Wash your hands often with soap and water for at least 20 seconds
            especially after you have been in a public place, or after blowing
            your nose, coughing, or sneezing.
          </p>
        </div>
        <div id="activate6" class="questiondiv">
          <h2 class="question">
            Avoid close contact
          </h2>

          <p class="answer6">
            Inside your home: Avoid close contact with people who are sick. If
            possible, maintain 6 feet between the person who is sick and other
            household members. Outside your home: Put 6 feet of distance between
            yourself and people who don’t live in your household.
          </p>
        </div>
        <div id="activate7" class="questiondiv">
          <h2 class="question">
            Cover your coughs and sneezes
          </h2>

          <p class="answer7">
            Always cover your mouth and nose with a tissue when you cough or
            sneeze or use the inside of your elbow and do not spit. Throw used
            tissues in the trash.
          </p>
        </div>
        <div id="activate8" class="questiondiv">
          <h2 class="question">
            Clean and disinfect
          </h2>

          <p class="answer8">
            Clean AND disinfect frequently touched surfaces daily. This includes
            tables, doorknobs, light switches, countertops, handles, desks,
            phones, keyboards, toilets, faucets, and sinks. If surfaces are
            dirty, clean them. Use detergent or soap and water prior to
            disinfection.
          </p>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="faq.js"></script>
</html>