<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="css/index.css" rel="stylesheet"
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <title>Main Page Edit</title>
</head>
<body>
    <!-- <h1>Hi <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button> -->
    <!-- !-- </form> -->
    <div class="navbar">
      <div>
          <h1><%= name %></h1>
      </div>
      <div>
          <ul>
              <a href="">
                  <li>Home</li>
              </a>
              <a href="hotspots.html">
                  <li>Hot Spots</li>
              </a>
              <a href="">
                  <li>Stuff</li>
              </a>
              <a href="">
                  <li>Get Help</li>
              </a>
              <a href="">
                  <li>Contact Us</li>
              </a>
          </ul>
      </div>
      <div><button id="updates" class="updates">Login</button></div>

  </div>
  <div id="mainpage" class="mainpage">
      <div id="herotext" class="herotext">
          <h1>This is a Covid Mock Site</h1>
          <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, placeat!</h4>
          
          <p>This is where we mock the page</p>
          <button id="herobutton" class="herobutton">Your Text Here</button>
      </div>

      <div id="heroimage" class="heroimage">
          <img src="covid.jpg" alt="">
      </div>
      <div class="actualsite">
          <div class="purpleblock"></div>
          <div class="container">
              <div class="content1">

              </div>
              <div class="headlines">
                  <ul>
                      <a href="">
                          <li>Headline1</li>
                      </a>
                      <a href="">
                          <li>Headline2</li>
                      </a>
                      <a href="">
                          <li>Headline3</li>
                      </a>
                      <a href="">
                          <li>Headline4</li>
                      </a>
                      <a href="">
                          <li>Headline5</li>
                      </a>
                  </ul>
              </div>

              <div class="content2">
                  <img src="closed.jpg" alt="">
                  <h3>Trillions of stores closing worldwide</h3>
              </div>
              <div class="content3">
                  <h3>Trillions of stores closing worldwide</h3>
              </div>
          </div>

      </div>
  </div>

<!-- </form> -->
</body>
</html>



<!-- <h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form> -->