<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link href="css/index.css" rel="stylesheet"
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <title>Main Page Edit</title> -->

  
  <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/index.css" type="text/css"/>
    <!--css loaded -->
    <link rel="stylesheet" href="css/leaflet.css" />
    <!--js library loaded -->
    <script src="css/leaflet.js"></script>
    <script src="https://leafletjs.com/examples/choropleth/us-states.js"></script>
    <!--map height set -->
    <style>
      #mapid {
        height: 500px;
      }
    </style>


</head>

<script src="css/main.js" type="module"></script>

  <script src="css/map.js" type="module"></script>

<body>
    <!-- <h1>Hi <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button> -->
    <!-- !-- </form> -->
    
    <p id="home"></p>
    <div class="navbar">
      <div>
        <h1 class="titlesite">Hi <%= name %></h1>
      </div>
      <div>
        <ul class="listof">
          <a id="home" href="#home">
            <li>Home</li>
          </a>
          <a id="mapid1" href="#goto">
            <li>Covid Map</li>
          </a>
          <a
            id="stuff"
            href="https://www.cdc.gov/coronavirus/2019-ncov/index.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2Findex.html"
          >
            <li>Learn more at cdc</li>
          </a>
          <a id="help" href="/faq">
            <li>Q&A</li>
          </a>
          <div class="burger"><i class="fas fa-bars"></i></div>
        </ul>
      </div>
      <div>
        <!-- <button id="login" class="login">Logout</a></button> -->
        <form action="/logout?_method=DELETE" method="POST">
          <button id="login" class="login" type="submit">Log Out</button>
        </form>
      </div>
    </div>
    <div id="mainpage" class="mainpage">
      <div id="herotext" class="herotext">
        <h1>This is a Covid Mock Site</h1>
        <a
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,
          placeat!</a
        >

        <p>This is where we mock the page</p>
        <button id="herobutton" class="herobutton">
          <a style="text-decoration: none;">Click Here</a>
        </button>
      </div>

      <div id="heroimage" class="heroimage">
        <img src="css/ny.jpg" alt="" />
      </div>
      <div id="site" class="actualsite">
        <div class="blueblock"></div>
        <div id="" class="container">
          <div id="mapid"></div>
          <div class="content1">
            <div>
              <h1>Get News Updates On The Go</h1>
            </div>
          </div>
          <div class="box">
            <h1 id="goto" class="slogan">Covid Tracker</h1>
            <!-- <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates, eaque.
              </p>
            </div>
            <div class="inputbutton">
              <input type="text" name="" id="" /><button class="thisbutton">
                Your zip-code
              </button>
            </div> -->
          </div>
          <div class="headlines">
            <div class="headlinesinner">
              <ul>
                <a
                  href="https://www.cnn.com/world/live-news/coronavirus-pandemic-07-12-20-intl/index.html"
                >
                  <li>Covid Updates</li>
                </a>
                <a
                  href="https://www.nba.com/nba-returns-2020-faq#:~:text=The%20NBA%20season%20is%20set,start%20date%20of%20July%2030."
                >
                  <li>NBA Returning</li>
                </a>
                <a
                  href="https://www.latimes.com/food/story/2020-06-09/coronavirus-outbreak-food-shortage"
                >
                  <li>Food Shortages</li>
                </a>
                <a href="https://www.vote.org/voter-registration-deadlines/">
                  <li>Voting Deadlines</li>
                </a>
                <a
                  href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/social-distancing.html"
                >
                  <li>Social Distancing</li>
                </a>
              </ul>
              <!-- <h2>Local Coverage</h2> -->
            </div>
          </div>

          <div class="content3">
            <h3>
              Controversial Mona Lisa Painting has government buzzing
            </h3>
            <img src="css/monalisacovid.jpg" alt="" />
            <a
              href="https://www.nba.com/nba-returns-2020-faq#:~:text=The%20NBA%20season%20is%20set,start%20date%20of%20July%2030."
              >NBA Players mixed feelings about season starting so soon</a
            >
          </div>
          <div class="content4">
            <h3>
              <a
                href="https://www.cnn.com/2020/06/27/business/stores-closing-coronavirus-june/index.html"
                style="color: black; text-decoration: none;"
                >Trillions of stores closing worldwide</a
              >
            </h3>
            <img src="css/closed.jpg" alt="closed stores" />
            <a
              href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/disinfecting-your-home.html"
              >See how you can keep your house clean during quarantine</a
            >
          </div>
          <footer>
            <ul>
              <a href="https://www.youtube.com/channel/UCupvZG-5ko_eiXAupbDfxWw"
                ><li><i class="fab fa-youtube"></i></li
              ></a>
              <a
                href="https://twitter.com/CDCgov?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                ><li><i class="fab fa-twitter"></i></li
              ></a>
              <a href="https://www.facebook.com/CDC"
                ><li><i class="fab fa-facebook-f"></i></li
              ></a>
            </ul>
            <h2>Copyright Covid Pro 2020 <i class="far fa-copyright"></i></h2>
          </footer>
        </div>
      </div>
    </div>
</body>
</html>



<!-- <h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form> -->